.App {
  text-align: center;
}


.App-header {

  height: 100px;
  padding: 20px;
  color:grey;
}

.efect::first-letter {
  text-transform: uppercase;
}
.allItems{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 list-style: none;
 margin: 20px;
}
.cardsContainer {
  margin: 20px 30px 20px 30px;
  display: flex;
  flex-wrap: wrap;
}
